 * {
    margin:0;
    padding:0;
  }

  html, body {
    width:100%;
    height:100%;
  }

  body {
	  font-family: 'Montserrat', sans-serif;
  }

  body > div {
  	position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:transparent center no-repeat;
    background-size:cover;
  }

  h1, h2, h3 {
	  text-align: center;
	  color: #737373;
  }
  p {
	  text-align: center;
	  color: #a3a3a3;
  }
/*
  body > div:nth-child(1) {
    background-image:url(../img/startup-bg.png) top;
  }
  

  body > div:nth-child(2) {
    background:#f0f0f0;
    overflow:hidden;
  }

  body > div:nth-child(3) {
    background-image:url(../img/startup-bg.png) top;
  }
*/
  
 
  
  header {
	 /* background-image: url(assets/img/startup-bg.png);*/
  }
  
  #bg1, #bg2, #bg3 {
	z-index:50;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(../img/startup-bg.png) repeat 0 0;
  }
  
  #before {
	background: #ff0b40;
  }
  
  #bottom {
 	 width: 120%;
 	 background: -webkit-linear-gradient(#ffc963 0%, rgba(255,201,99,0.64) 10%)
  }
  
  #right-red {
	  height: 220%;
	  width: 128%;
	  background: -webkit-linear-gradient(rgba(255, 60, 102, 0.9)  1.17%, #ff0b40 110%);  
  }
  
  #left-red {
	background: -webkit-linear-gradient(rgba(255, 60, 102, 0.9)  24.17%, #ff0b40 110%);
  }
  
  
  .yellow {  
	background: #ffc963;	
	/*rgba(255, 201, 99, 0.86); /*#ffc963; *//*rgba(255, 230, 129, 1);*/
	overflow: hidden;
  }
  
  #top-right-yellow {
	  background: -webkit-linear-gradient(#ffc963 30%, rgba(255, 201, 99, 0.9) 80.05%);
	  width: 70%;

  }
  

  
   .red {
  	background:  #ff0b40;
  	
  		overflow: hidden;

/*   	height: 200%;  */
/*   	width: 200%; */
  }
  
  .gray {
	  background: #8c8c8c;
	  
  }
  
  .logo {
	  text-align: center;
	  margin: auto;
	  padding-top: 30px;
	  width: 30%;
	  z-index:49;
  }
  
  #logo-symbol {
	  width: 10%;
  }
  
.circle {
	width: 20px;
	height: 20px;
	position: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.white {
	background: white;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.center {
 float: none;
 margin-left: auto;
 margin-right: auto;
}


#theForm {
	margin-top: 37%;	
}

.next {
	top: 43%;
}

.submit {
	margin-top: 50px;
	height: 30px;
}
  
  
 /* For tablets and smaller */
@media (max-width: 1024px) {
  
	  .big-sides{
	/* 	  /padding-left: 20em; */
		  left: 40px;
	  }
	  #left-red {
		margin-left: -15%;
		margin-top: -20%;
	  }
	  
	  #theForm {
	    margin-top: 40%;
  	  }
	  
	 .next {
	 	top: 42%;
	}
	  
	
	  .simform {
	  width: 60%;
  }
}
  
@media (max-width: 760px) {
	
  .logo {
	  width: 45%;
  }
  
  #logo-symbol {
	  width: 20%;
  }
  #first-description-circle {
	  margin-top: 25em;
  }
  .next {
	top: 43%;
  }  
  
   #theForm {
	margin-top: 80%;
  }
  
  .simform {
	  width: 80%;
  }
  
  #left-red {
	margin-left: -60%;
	margin-top: -80%;
  }
  
}

	/*
#bg2 {
		z-index:49;
		background-image:url(images/startup-bg.png);
	}
	
	#bg3 {
		z-index:48;
		background-image:url(images/startup.png);
	}
*/
	  

	  
 
 #top-right-yellow {
 }
  
  #triangle-right {
	width: 20%;
	height: 20%;
	border-top: 50px solid transparent;
	border-left: 100px solid blue;
	border-bottom: 50px solid transparent;
	}

  .box {
    position:absolute;
    left:0;
    height:100%;
    background:#ff0b40;
  }

  p {margin:1em 0;}